# Java
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.log
*.jar
*.war
*.nar
*.ear

*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# React
node_modules/
/financial-tracker-frontend/dist
/financial-tracker-frontend/build
/financial-tracker-frontend/.vite/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

# Database
*.db
*.sqlite 